/* http://colorhunt.co/alltime#f9ed69f08a5db83b5e6a2c70 */

.row:hover {
    background-color: rgba(0,128,0, 0.05);
}

.row.failed {
    background-color: rgba(255,0,0, 0.1);
}

.row.failed:hover {
    background-color: rgba(255,0,0, 0.2);
}

[ng-cloak] {
    display: none !important;
}

body table th {
    line-height: 32px;
    padding: 6px 5px;
    text-align: center;
}

body table tr {
    vertical-align: middle;
}

body table td {
    line-height: 28px;
    padding: 2px 5px;
    text-align: center;
}

div.flexCel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.test-duration { font-size: 14px; }

.dropdown {
    cursor: pointer;
}

@media (max-width:480px)
{
  .hide--extra-small { display:none; }
  div.test-duration { font-size: 13px; }
}
@media (max-width:600px)
{
  .hide--smaller { display:none; }
  div.flexCel { display: block; }
}
@media (max-width:768px)
{
  .hide--small {display:none; }
}
@media (min-width:768px)
{
  .hide--small { display:table-cell; }
  .font--small { font-size: 15px; }
}
@media (max-width:900px)
{
  .font--small {font-size: 14px; }
  body { font-size: 15px; }
}
